html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.content {
  background-image: url("../images/starfield.png");
  color: #fff;
  position: relative;
  padding-top: 275px;
}

.heading {
  text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

i img {
  position: absolute;
}

.btn-ghost {
  color: #b4fff4;
  border-radius: 4px 4px 0 0;
  border-color: #90ccc3;
  transition: all 500ms linear;
  position: relative;
}

.btn-ghost:hover, .btn-ghost:focus {
  background-color: rgba(180, 255, 244, .2);
  color: #b4fff4;
  border-radius: 4px 4px 0 0;
  border-color: #90ccc3;
}

.btn-bottom {
  border: 3px solid #90ccc3;
  border-radius: 0 0 3px 3px;
  width: calc(100% + 6px);
  min-height: .7em;
  position: absolute;
  background-color: transparent;
  top: 36px;
  right: -2.5px;
}

.btn-ghost:active .btn-bottom {
  min-height: .2em;
}

.btn-ghost:active {
  top: 3px;
}
